In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [9]:
#Import Data
rawWBdata = pd.read_csv('C:\\Users\\shyar\\OneDrive\\Bootcamp\\Project2\\Project-2\\train.csv')

rawWBdata.head(20)

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,1,25,Female,Instagram,120,3,45,10,12,Happiness
1,2,30,Male,Twitter,90,5,20,25,30,Anger
2,3,22,Non-binary,Facebook,60,2,15,5,20,Neutral
3,4,28,Female,Instagram,200,8,100,30,50,Anxiety
4,5,33,Male,LinkedIn,45,1,5,2,10,Boredom
5,6,21,Male,Instagram,150,4,60,15,25,Happiness
6,7,27,Female,Twitter,85,3,30,10,18,Anger
7,8,24,Non-binary,Facebook,110,6,25,12,22,Sadness
8,9,29,Female,LinkedIn,55,2,10,3,8,Neutral
9,10,31,Male,Instagram,170,5,80,20,35,Happiness
10,11,23,Female,Twitter,75,4,35,7,20,Anxiety
11,12,26,Non-binary,Facebook,95,3,20,10,18,Sadness
12,13,34,Male,LinkedIn,65,1,12,4,15,Boredom
13,14,22,Female,Instagram,180,7,90,25,40,Happiness
14,15,28,Male,Twitter,100,6,40,23,28,Anger
15,16,21,Non-binary,Facebook,40,1,5,2,10,Neutral
16,17,35,Female,Instagram,125,4,55,18,30,Anxiety
17,18,27,Male,Twitter,90,3,33,15,25,Sadness
18,19,23,Non-binary,LinkedIn,50,1,8,3,12,Neutral
19,20,32,Female,Instagram,140,5,70,22,33,Happiness

In [12]:
#Encode nonnumeric data
rawWBdata['Gender'] = pd.Categorical.from_array(rawWBdata.Gender).labels

AttributeError: type object 'Categorical' has no attribute 'from_array'

In [ ]:
#Delete irrelevant column

In [ ]:
#Create X and y

In [ ]:
#Separate Test and Train Data

In [ ]:
#Scale Data